[submodule "libs/middleclass"]
	path = libs/middleclass
	url = https://github.com/kikito/middleclass.git
[submodule "libs/cron"]
	path = libs/cron
	url = https://github.com/kikito/cron.lua.git
[submodule "libs/jumper"]
	path = libs/jumper
	url = https://github.com/Yonaba/Jumper.git
